.toc_aside {
  position: fixed;
  top: 30%;
  width: 340px;
  display: flex;
  padding-left: 10px;
  flex-direction: column;
  margin-left: 240px;
  border-left: 2px solid #f1f3f5;
}

.toc_aside a {
  margin-top: 8px;
  text-decoration: none;
  color: var(--font--color);
  font-weight: 400;
  font-size: 14px;
  opacity: 0.5;
  transition: opacity 0.5s ease;
  line-height: 1.5;
}

.toc_aside a:hover {
  opacity: 1;
}

.toc_aside a[data-active="true"] {
  color: var(--font--color);
  opacity: 0.8;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.2s ease;
}

@media (max-width: 1365px) {
  .toc_aside {
    display: none;
  }
}
